.container-card-product {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.cart-button {
  position: fixed;
  top: 2vh;
  right: 2vw;
}

.header-product {
  width: 100%;
  font-size: 2.5rem;
  font-weight: bold;
  color: #ECF8D4;
  text-align: center;
  margin-bottom: 24px;
}

.products {
  width: 100%;
  display: flex;
  gap: 1.1vw;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header-cart-items {
  width: 100%;
  display: flex;
  gap: 0.5vw;
  justify-content: flex-end;
}