.container-buy-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  align-items: start;
}

.product-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.cart-item {
  background: #ECF8D4;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0D0502;
}

.cart-item-info h3 {
  margin: 0.4rem 0;
}

.cart-item-id {
  font-weight: bold;
  text-decoration: underline;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.cart-item-quantity button {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.resume {
  display: flex;
  position: sticky;
  top: 1rem;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  background: #ECF8D4;
  color: #0D0502;
  text-align: center;
  align-self: start;
  min-height: 95.9vh;
}

.resume-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.text-resume {
  display: flex;
  justify-content: center;
  font-size: 7.5rem;
  font-weight: bold;
}

.resume-value {
  font-size: 4rem;
  font-weight: bold;
}

.resume-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 2rem 0 2rem;
}