.container-buy-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  padding: 24px;
  align-items: stretch;
}

.product-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.cart-item {
  background: #ECF8D4;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0D0502;
}

.cart-item-info h3 {
  margin: 4px 0;
}

.cart-item-id {
  font-weight: bold;
  text-decoration: underline;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-item-quantity button {
  display: flex;
  align-items: center;
  gap: 8px;
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-template-columns: 1fr;
  background: #ECF8D4;
  color: #0D0502;
  text-align: center;
  gap: 12px; 
}

.text-resume {
  font-size: 2.7rem;
  font-weight: bold;
}

.value {
  font-size: 3rem;
  font-weight: bold;
}