.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: #ECF8D4;
  padding: 24px;
  border-radius: 8px;
  width: 70vw;
  height: 70vh;
  text-align: center;
  color: #0D0502;
}

.close-button {
  text-align: right;
}