.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: #ECF8D4;
  padding: 24px;
  border-radius: 8px;
  width: 70vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  color: #0D0502;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-body {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding: 16px 8px;
}

.modal-footer {
  display: flex;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,0.1);
  text-align: left;
  padding: 12px 0;
  font-size: 1.2rem;
}

.counter-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer-wrapper {
  display: flex;
  width: 100%;
  transform: translateY(12px);
}

.counter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.modal-footer p {
  margin: 0 0 0 0.5rem;
  font-weight: 500;
}

.details-content {
  font-size: 1rem;
}

.actions-buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}
